{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": false,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "tw",
    "clsx",
    "cva",
    "cn"
  ],
  "tailwindAttributes": [
    "className"
  ]
}